
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myWirelessSensorNetworkLabel">Create or edit a Wireless Sensor Network</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.wirelessSensorNetwork.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.wirelessSensorNetwork.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.wirelessSensorNetwork.name"
                    required ng-minlength="3"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_technologyType">Technology Type</label>
            <input type="text" class="form-control" name="technologyType" id="field_technologyType"
                    ng-model="vm.wirelessSensorNetwork.technologyType"
                    required ng-minlength="3"/>
            <div ng-show="editForm.technologyType.$invalid">
                <p class="help-block"
                    ng-show="editForm.technologyType.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.technologyType.$error.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_trl">Trl</label>
            <input type="number" class="form-control" name="trl" id="field_trl"
                    ng-model="vm.wirelessSensorNetwork.trl"
                    required min="1" max="9"/>
            <div ng-show="editForm.trl.$invalid">
                <p class="help-block"
                    ng-show="editForm.trl.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.trl.$error.min" translate-value-min="1">
                    This field should be at least 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.trl.$error.max">
                    This field cannot be more than 9.
                </p>
                <p class="help-block"
                    ng-show="editForm.trl.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setPhoto($file, vm.wirelessSensorNetwork)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_photo">Photo</label>
            <div>
                <img data-ng-src="{{'data:' + vm.wirelessSensorNetwork.photoContentType + ';base64,' + vm.wirelessSensorNetwork.photo}}" style="max-height: 100px;" ng-if="vm.wirelessSensorNetwork.photo" alt="wirelessSensorNetwork image"/>
                <div ng-if="vm.wirelessSensorNetwork.photo" class="help-block clearfix">
                    <span class="pull-left">{{vm.wirelessSensorNetwork.photoContentType}}, {{vm.byteSize(vm.wirelessSensorNetwork.photo)}}</span>
                    <button type="button" ng-click="vm.wirelessSensorNetwork.photo=null;vm.wirelessSensorNetwork.photoContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setPhoto($file, vm.wirelessSensorNetwork)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                    ng-model="vm.wirelessSensorNetwork.photo"
                    />
            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                    ng-model="vm.wirelessSensorNetwork.photoContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setDatasheet($file, vm.wirelessSensorNetwork)">
            <label class="control-label" for="field_datasheet">Datasheet</label>
            <div>
                <div ng-if="vm.wirelessSensorNetwork.datasheet" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.wirelessSensorNetwork.datasheetContentType, vm.wirelessSensorNetwork.datasheet)">open</a><br>
                    <span class="pull-left">{{vm.wirelessSensorNetwork.datasheetContentType}}, {{vm.byteSize(vm.wirelessSensorNetwork.datasheet)}}</span>
                    <button type="button" ng-click="vm.wirelessSensorNetwork.datasheet=null;vm.wirelessSensorNetwork.datasheetContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setDatasheet($file, vm.wirelessSensorNetwork)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="datasheet" id="field_datasheet"
                    ng-model="vm.wirelessSensorNetwork.datasheet"
                    />
            <input type="hidden" class="form-control" name="datasheetContentType" id="field_datasheetContentType"
                    ng-model="vm.wirelessSensorNetwork.datasheetContentType" />
        </div>
        
         </br>
        <div class="form-group  text-center">
            <label style="padding: 6px 12px;
    text-transform: uppercase;
    border: 1px solid #003667;
    color: #003667;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-radius: 0;
    background-color: transparent;" >Specification</label>
            
        </div>
        <hr></hr>
        
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_power">Power</label>
            <input type="number" class="form-control" name="power" id="field_power"
                    ng-model="vm.wirelessSensorNetwork.power"
                    required/>
            <div ng-show="editForm.power.$invalid">
                <p class="help-block"
                    ng-show="editForm.power.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.power.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_operatingSystem">Operating System</label>
            <input type="text" class="form-control" name="operatingSystem" id="field_operatingSystem"
                    ng-model="vm.wirelessSensorNetwork.operatingSystem"
                    required/>
            <div ng-show="editForm.operatingSystem.$invalid">
                <p class="help-block"
                    ng-show="editForm.operatingSystem.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_protocol">Protocol</label>
            <input type="number" class="form-control" name="protocol" id="field_protocol"
                    ng-model="vm.wirelessSensorNetwork.protocol"
                    required/>
            <div ng-show="editForm.protocol.$invalid">
                <p class="help-block"
                    ng-show="editForm.protocol.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.protocol.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_cost">Cost</label>
            <input type="number" class="form-control" name="cost" id="field_cost"
                    ng-model="vm.wirelessSensorNetwork.cost"
                    required/>
            <div ng-show="editForm.cost.$invalid">
                <p class="help-block"
                    ng-show="editForm.cost.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.cost.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_security">Security</label>
            <select class="form-control" name="security" ng-model="vm.wirelessSensorNetwork.security" id="field_security" required>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
            </select>
            <div ng-show="editForm.security.$invalid">
                <p class="help-block"
                    ng-show="editForm.security.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_selfOrganisationOfNodes">Self Organisation Of Nodes</label>
            <select class="form-control" name="selfOrganisationOfNodes" ng-model="vm.wirelessSensorNetwork.selfOrganisationOfNodes" id="field_selfOrganisationOfNodes" required>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
            </select>
            <div ng-show="editForm.selfOrganisationOfNodes.$invalid">
                <p class="help-block"
                    ng-show="editForm.selfOrganisationOfNodes.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_mobility">Mobility</label>
            <select class="form-control" name="mobility" ng-model="vm.wirelessSensorNetwork.mobility" id="field_mobility" required>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
            </select>
            <div ng-show="editForm.mobility.$invalid">
                <p class="help-block"
                    ng-show="editForm.mobility.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group col-xs-6">
            <label for="field_oemName">Oem Name</label>
            <select class="form-control" id="field_oemName" name="oemName" ng-model="vm.wirelessSensorNetwork.oemName" ng-options="company as company.name for company in vm.companies track by company.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group col-xs-6">
            <label for="field_addedBy">Added By</label>
            <select class="form-control" id="field_addedBy" name="addedBy" ng-model="vm.wirelessSensorNetwork.addedBy" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
