
<div>
    <h2><span>Dev Drilling Tool</span> {{vm.devDrillingTool.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.name}}</span>
        </dd>
        <dt><span>Model</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.model}}</span>
        </dd>
        <dt><span>Technology Type</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.technologyType}}</span>
        </dd>
        <dt><span>Trl</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.trl}}</span>
        </dd>
        <dt><span>Photo</span></dt>
        <dd>
            <div ng-if="vm.devDrillingTool.photo">
                <a ng-click="vm.openFile(vm.devDrillingTool.photoContentType, vm.devDrillingTool.photo)">
                    <img data-ng-src="{{'data:' + vm.devDrillingTool.photoContentType + ';base64,' + vm.devDrillingTool.photo}}" style="max-width: 100%;" alt="devDrillingTool image"/>
                </a>
                
            </div>
        </dd>
        <dt><span>Datasheet</span></dt>
        <dd>
            <div ng-if="vm.devDrillingTool.datasheet">
                <a ng-click="vm.openFile(vm.devDrillingTool.datasheetContentType, vm.devDrillingTool.datasheet)">View/Download</a>
                
            </div>
        </dd>
        <dt><span>Weight</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.weight}}kg</span>
        </dd>
        <dt><span>Tested Weight</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedWeight}}</span>
        </dd>
        <dt><span>Length</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.length}}mm</span>
        </dd>
        <dt><span>Tested Length</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedLength}}</span>
        </dd>
        <dt><span>Drilling Rate</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.drillingRate}}m/s</span>
        </dd>
        <dt><span>Tested Drilling Rate</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedDrillingRate}}</span>
        </dd>
        <dt><span>Noise Level</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.noiseLevel}}dBA</span>
        </dd>
        <dt><span>Tested Noise Level</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedNoiseLevel}}</span>
        </dd>
        <dt><span>Setting Up Time</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.settingUpTime}}min</span>
        </dd>
        <dt><span>Tested Setting Up Time</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedSettingUpTime}}</span>
        </dd>
        <dt><span>Dismantling Time</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.dismantlingTime}}min</span>
        </dd>
        <dt><span>Tested Dismantling Time</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedDismantlingTime}}</span>
        </dd>
        <dt><span>Water Use Per Metre Drilled</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.waterUsePerMetreDrilled}} l/m</span>
        </dd>
        <dt><span>Tested Water Use Per Metre Drilled</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedWaterUsePerMetreDrilled}}</span>
        </dd>
        <dt><span>Availability</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.availability}}%</span>
        </dd>
        <dt><span>Tested Availability</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedAvailability}}</span>
        </dd>
        <dt><span>Cost Per Meter Drilled</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.costPerMeterDrilled}}R/m</span>
        </dd>
        <dt><span>Tested Cost Per Meter Drilled</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedCostPerMeterDrilled}}</span>
        </dd>
        <dt><span>Hole Size Range</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.holeSizeRange}}mm</span>
        </dd>
        <dt><span>Tested Hole Size Range</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedHoleSizeRange}}</span>
        </dd>
        <dt><span>Power Source</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.powerSource}}</span>
        </dd>
        <dt><span>Tested Power Source</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedPowerSource}}</span>
        </dd>
        <dt><span>Power Rating</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.powerRating}}kW</span>
        </dd>
        <dt><span>Tested Power Rating</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedPowerRating}}</span>
        </dd>
        <dt><span>Cost</span></dt>
        <dd>
            <span>R{{vm.devDrillingTool.cost}}</span>
        </dd>
        <dt><span>Tested Cost</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedCost}}</span>
        </dd>
        <dt><span>Tramming Speed</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.trammingSpeed}}km/hr</span>
        </dd>
        <dt><span>Tested Tramming Speed</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedTrammingSpeed}}</span>
        </dd>
        <dt><span>Working Height</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.workingHeight}}mm</span>
        </dd>
        <dt><span>Tested Working Height</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedWorkingHeight}}</span>
        </dd>
        <dt><span>Gradeability</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.gradeability}}Degrees</span>
        </dd>
        <dt><span>Tested Gradeability</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedGradeability}}</span>
        </dd>
        <dt><span>Number Of Boom</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.numberOfBoom}}</span>
        </dd>
        <dt><span>Tested Number Of Boom</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedNumberOfBoom}}</span>
        </dd>
        <dt><span>Typer Of Boom</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.typerOfBoom}}</span>
        </dd>
        <dt><span>Tested Typer Of Boom</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedTyperOfBoom}}</span>
        </dd>
        <dt><span>Outer Turning Radius</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.outerTurningRadius}}mm</span>
        </dd>
        <dt><span>Tested Outer Turning Radius</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedOuterTurningRadius}}</span>
        </dd>
        <dt><span>Inner Turning Radius</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.innerTurningRadius}}mm</span>
        </dd>
        <dt><span>Tested Inner Turning Radius</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedInnerTurningRadius}}</span>
        </dd>
        <dt><span>Observations 1</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.observations1}}</span>
        </dd>
        <dt><span>Tested Observations 1</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedObservations1}}</span>
        </dd>
        <dt><span>Observations 2</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.observations2}}</span>
        </dd>
        <dt><span>Tested Observations 2</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedObservations2}}</span>
        </dd>
        <dt><span>Observations 3</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.observations3}}</span>
        </dd>
        <dt><span>Tested Observations 3</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedObservations3}}</span>
        </dd>
        <dt><span>Observations 4</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.observations4}}</span>
        </dd>
        <dt><span>Tested Observations 4</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedObservations4}}</span>
        </dd>
        <dt><span>Observations 5</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.observations5}}</span>
        </dd>
        <dt><span>Tested Observations 5</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedObservations5}}</span>
        </dd>
        <dt><span>Observations 6</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.observations6}}</span>
        </dd>
        <dt><span>Tested Observations 6</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedObservations6}}</span>
        </dd>
        <dt><span>Operators Comments</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.operators_Comments}}</span>
        </dd>
        <dt><span>Tested Operators Comments</span></dt>
        <dd>
            <span>{{vm.devDrillingTool.testedOperators_Comments}}</span>
        </dd>
        <dt><span>Oem Name</span></dt>
        <dd>
            <a ui-sref="company-detail({id:vm.devDrillingTool.oemName.id})">{{vm.devDrillingTool.oemName.name}}</a>
        </dd>
        <dt><span>Added By</span></dt>
        <dd>
            {{vm.devDrillingTool.addedBy.login}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="dev-drilling-tool-detail.edit({id:vm.devDrillingTool.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
