
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDevSupportingToolLabel">Add or edit Tool</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.devSupportingTool.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.devSupportingTool.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.devSupportingTool.name"
                    required ng-minlength="3"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_model">Model</label>
            <input type="text" class="form-control" name="model" id="field_model"
                    ng-model="vm.devSupportingTool.model"
                    required ng-minlength="3"/>
            <div ng-show="editForm.model.$invalid">
                <p class="help-block"
                    ng-show="editForm.model.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.model.$error.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_technologyType">Technology Type</label>
            <input type="text" class="form-control" name="technologyType" id="field_technologyType"
                    ng-model="vm.devSupportingTool.technologyType"
                    required ng-minlength="3"/>
            <div ng-show="editForm.technologyType.$invalid">
                <p class="help-block"
                    ng-show="editForm.technologyType.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.technologyType.$error.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_trl">TRL</label>
            <input type="number" class="form-control" name="trl" id="field_trl"
                    ng-model="vm.devSupportingTool.trl"
                    required min="1" max="9"/>
            <div ng-show="editForm.trl.$invalid">
                <p class="help-block"
                    ng-show="editForm.trl.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.trl.$error.min" translate-value-min="1">
                    This field should be at least 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.trl.$error.max">
                    This field cannot be more than 9.
                </p>
                <p class="help-block"
                    ng-show="editForm.trl.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setPhoto($file, vm.devSupportingTool)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_photo">Photo</label>
            <div>
                <img data-ng-src="{{'data:' + vm.devSupportingTool.photoContentType + ';base64,' + vm.devSupportingTool.photo}}" style="max-height: 100px;" ng-if="vm.devSupportingTool.photo" alt="devSupportingTool image"/>
                <div ng-if="vm.devSupportingTool.photo" class="help-block clearfix">
                    <span class="pull-left">{{vm.devSupportingTool.photoContentType}}, {{vm.byteSize(vm.devSupportingTool.photo)}}</span>
                    <button type="button" ng-click="vm.devSupportingTool.photo=null;vm.devSupportingTool.photoContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setPhoto($file, vm.devSupportingTool)" accept="image/*">
                                        <i class="glyphicon glyphicon-open"></i>  Browse

                </button>
            </div>
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                    ng-model="vm.devSupportingTool.photo"
                    />
            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                    ng-model="vm.devSupportingTool.photoContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setDatasheet($file, vm.devSupportingTool)">
            <label class="control-label" for="field_datasheet">Datasheet</label>
            <div>
                <div ng-if="vm.devSupportingTool.datasheet" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.devSupportingTool.datasheetContentType, vm.devSupportingTool.datasheet)">open</a><br>
                    <span class="pull-left">{{vm.devSupportingTool.datasheetContentType}}, {{vm.byteSize(vm.devSupportingTool.datasheet)}}</span>
                    <button type="button" ng-click="vm.devSupportingTool.datasheet=null;vm.devSupportingTool.datasheetContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setDatasheet($file, vm.devSupportingTool)">
                                       <i class="glyphicon glyphicon-open"></i>  Browse

                </button>
            </div>
            <input type="hidden" class="form-control" name="datasheet" id="field_datasheet"
                    ng-model="vm.devSupportingTool.datasheet"
                    />
            <input type="hidden" class="form-control" name="datasheetContentType" id="field_datasheetContentType"
                    ng-model="vm.devSupportingTool.datasheetContentType" />
        </div>
        
         </br>
		
		<div class="form-group col-xs-6">
            <label style="padding: 6px 12px;
    text-transform: uppercase;
    border: 1px solid #003667;
    color: #003667;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-radius: 0;
    background-color: transparent;" >Specification</label>
            
        </div>
        <div class="form-group col-xs-6">
            <label style="padding: 6px 12px;
    text-transform: uppercase;
    border: 1px solid #003667;
    color: #003667;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-radius: 0;
    background-color: transparent;" >Test Results</label>
            
        </div>
		<hr></hr>
        
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_typeOfMachine">Type Of Machine</label>
            <input type="text" class="form-control" name="typeOfMachine" id="field_typeOfMachine"
                    ng-model="vm.devSupportingTool.typeOfMachine"
                    required/>
            <div ng-show="editForm.typeOfMachine.$invalid">
                <p class="help-block"
                    ng-show="editForm.typeOfMachine.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedTypeOfMachine">Tested Type Of Machine</label>
            <input type="text" class="form-control" name="testedTypeOfMachine" id="field_testedTypeOfMachine"
                    ng-model="vm.devSupportingTool.testedTypeOfMachine"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_weight">Weight(kg)</label>
            <input type="number" class="form-control" name="weight" id="field_weight"
                    ng-model="vm.devSupportingTool.weight"
                    required/>
            <div ng-show="editForm.weight.$invalid">
                <p class="help-block"
                    ng-show="editForm.weight.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.weight.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedWeight">Tested Weight(kg)</label>
            <input type="number" class="form-control" name="testedWeight" id="field_testedWeight"
                    ng-model="vm.devSupportingTool.testedWeight"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_length">Length(mm)</label>
            <input type="number" class="form-control" name="length" id="field_length"
                    ng-model="vm.devSupportingTool.length"
                    required/>
            <div ng-show="editForm.length.$invalid">
                <p class="help-block"
                    ng-show="editForm.length.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.length.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedLength">Tested Length(mm)</label>
            <input type="number" class="form-control" name="testedLength" id="field_testedLength"
                    ng-model="vm.devSupportingTool.testedLength"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_width">Width(mm)</label>
            <input type="number" class="form-control" name="width" id="field_width"
                    ng-model="vm.devSupportingTool.width"
                    required/>
            <div ng-show="editForm.width.$invalid">
                <p class="help-block"
                    ng-show="editForm.width.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.width.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedWidth">Tested Width(mm)</label>
            <input type="number" class="form-control" name="testedWidth" id="field_testedWidth"
                    ng-model="vm.devSupportingTool.testedWidth"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_powerRatingPercussion">Power Rating Percussion(kW)</label>
            <input type="number" class="form-control" name="powerRatingPercussion" id="field_powerRatingPercussion"
                    ng-model="vm.devSupportingTool.powerRatingPercussion"
                    required/>
            <div ng-show="editForm.powerRatingPercussion.$invalid">
                <p class="help-block"
                    ng-show="editForm.powerRatingPercussion.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.powerRatingPercussion.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedPowerRatingPercussion">Tested Power Rating Percussion(kW)</label>
            <input type="number" class="form-control" name="testedPowerRatingPercussion" id="field_testedPowerRatingPercussion"
                    ng-model="vm.devSupportingTool.testedPowerRatingPercussion"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_noiseLevelAtOperatorStand">Noise Level At Operator Stand(dBA)</label>
            <input type="number" class="form-control" name="noiseLevelAtOperatorStand" id="field_noiseLevelAtOperatorStand"
                    ng-model="vm.devSupportingTool.noiseLevelAtOperatorStand"
                    required/>
            <div ng-show="editForm.noiseLevelAtOperatorStand.$invalid">
                <p class="help-block"
                    ng-show="editForm.noiseLevelAtOperatorStand.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.noiseLevelAtOperatorStand.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedNoiseLevelAtOperatorStand">Tested Noise Level At Operator Stand(dBA)</label>
            <input type="number" class="form-control" name="testedNoiseLevelAtOperatorStand" id="field_testedNoiseLevelAtOperatorStand"
                    ng-model="vm.devSupportingTool.testedNoiseLevelAtOperatorStand"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_holeSizeRange">Hole Size Range(mm)</label>
            <input type="text" class="form-control" name="holeSizeRange" id="field_holeSizeRange"
                    ng-model="vm.devSupportingTool.holeSizeRange"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedHoleSizeRange">Tested Hole Size Range</label>
            <input type="text" class="form-control" name="testedHoleSizeRange" id="field_testedHoleSizeRange"
                    ng-model="vm.devSupportingTool.testedHoleSizeRange"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_drillWaterConsumption">Drill Water Consumption</label>
            <input type="number" class="form-control" name="drillWaterConsumption" id="field_drillWaterConsumption"
                    ng-model="vm.devSupportingTool.drillWaterConsumption"
                    required/>
            <div ng-show="editForm.drillWaterConsumption.$invalid">
                <p class="help-block"
                    ng-show="editForm.drillWaterConsumption.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.drillWaterConsumption.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedDrillWaterConsumption">Tested Drill Water Consumption</label>
            <input type="number" class="form-control" name="testedDrillWaterConsumption" id="field_testedDrillWaterConsumption"
                    ng-model="vm.devSupportingTool.testedDrillWaterConsumption"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_waterConsumptionPerMetreDrilled">Water Consumption Per Metre Drilled</label>
            <input type="number" class="form-control" name="waterConsumptionPerMetreDrilled" id="field_waterConsumptionPerMetreDrilled"
                    ng-model="vm.devSupportingTool.waterConsumptionPerMetreDrilled"
                    required/>
            <div ng-show="editForm.waterConsumptionPerMetreDrilled.$invalid">
                <p class="help-block"
                    ng-show="editForm.waterConsumptionPerMetreDrilled.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.waterConsumptionPerMetreDrilled.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedWaterConsumptionPerMetreDrilled">Tested Water Consumption Per Metre Drilled</label>
            <input type="number" class="form-control" name="testedWaterConsumptionPerMetreDrilled" id="field_testedWaterConsumptionPerMetreDrilled"
                    ng-model="vm.devSupportingTool.testedWaterConsumptionPerMetreDrilled"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_powerSource">Power Source</label>
            <input type="text" class="form-control" name="powerSource" id="field_powerSource"
                    ng-model="vm.devSupportingTool.powerSource"
                    required/>
            <div ng-show="editForm.powerSource.$invalid">
                <p class="help-block"
                    ng-show="editForm.powerSource.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedPowerSource">Tested Power Source</label>
            <input type="text" class="form-control" name="testedPowerSource" id="field_testedPowerSource"
                    ng-model="vm.devSupportingTool.testedPowerSource"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_trammingSpeed">Tramming Speed</label>
            <input type="number" class="form-control" name="trammingSpeed" id="field_trammingSpeed"
                    ng-model="vm.devSupportingTool.trammingSpeed"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedTrammingSpeed">Tested Tramming Speed</label>
            <input type="number" class="form-control" name="testedTrammingSpeed" id="field_testedTrammingSpeed"
                    ng-model="vm.devSupportingTool.testedTrammingSpeed"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_boltLengthRange">Bolt Length Range</label>
            <input type="text" class="form-control" name="boltLengthRange" id="field_boltLengthRange"
                    ng-model="vm.devSupportingTool.boltLengthRange"
                    required/>
            <div ng-show="editForm.boltLengthRange.$invalid">
                <p class="help-block"
                    ng-show="editForm.boltLengthRange.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedBoltLengthRange">Tested Bolt Length Range</label>
            <input type="text" class="form-control" name="testedBoltLengthRange" id="field_testedBoltLengthRange"
                    ng-model="vm.devSupportingTool.testedBoltLengthRange"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_minimumOperatingHeight">Minimum Operating Height</label>
            <input type="number" class="form-control" name="minimumOperatingHeight" id="field_minimumOperatingHeight"
                    ng-model="vm.devSupportingTool.minimumOperatingHeight"
                    required/>
            <div ng-show="editForm.minimumOperatingHeight.$invalid">
                <p class="help-block"
                    ng-show="editForm.minimumOperatingHeight.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.minimumOperatingHeight.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedMinimumOperatingHeight">Tested Minimum Operating Height</label>
            <input type="number" class="form-control" name="testedMinimumOperatingHeight" id="field_testedMinimumOperatingHeight"
                    ng-model="vm.devSupportingTool.testedMinimumOperatingHeight"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_drillSpeed">Drill Speed</label>
            <input type="number" class="form-control" name="drillSpeed" id="field_drillSpeed"
                    ng-model="vm.devSupportingTool.drillSpeed"
                    required/>
            <div ng-show="editForm.drillSpeed.$invalid">
                <p class="help-block"
                    ng-show="editForm.drillSpeed.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.drillSpeed.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedDrillSpeed">Tested Drill Speed</label>
            <input type="number" class="form-control" name="testedDrillSpeed" id="field_testedDrillSpeed"
                    ng-model="vm.devSupportingTool.testedDrillSpeed"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_gradeability">Gradeability</label>
            <input type="number" class="form-control" name="gradeability" id="field_gradeability"
                    ng-model="vm.devSupportingTool.gradeability"
                    required/>
            <div ng-show="editForm.gradeability.$invalid">
                <p class="help-block"
                    ng-show="editForm.gradeability.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.gradeability.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedGradeability">Tested Gradeability</label>
            <input type="number" class="form-control" name="testedGradeability" id="field_testedGradeability"
                    ng-model="vm.devSupportingTool.testedGradeability"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_numberOfBooms">Number Of Booms</label>
            <input type="number" class="form-control" name="numberOfBooms" id="field_numberOfBooms"
                    ng-model="vm.devSupportingTool.numberOfBooms"
                    required/>
            <div ng-show="editForm.numberOfBooms.$invalid">
                <p class="help-block"
                    ng-show="editForm.numberOfBooms.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numberOfBooms.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedNumberOfBooms">Tested Number Of Booms</label>
            <input type="number" class="form-control" name="testedNumberOfBooms" id="field_testedNumberOfBooms"
                    ng-model="vm.devSupportingTool.testedNumberOfBooms"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_typeOfBoom">Type Of Boom</label>
            <input type="text" class="form-control" name="typeOfBoom" id="field_typeOfBoom"
                    ng-model="vm.devSupportingTool.typeOfBoom"
                    required/>
            <div ng-show="editForm.typeOfBoom.$invalid">
                <p class="help-block"
                    ng-show="editForm.typeOfBoom.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedTypeOfBoom">Tested Type Of Boom</label>
            <input type="text" class="form-control" name="testedTypeOfBoom" id="field_testedTypeOfBoom"
                    ng-model="vm.devSupportingTool.testedTypeOfBoom"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_outerTurningRadius">Outer Turning Radius</label>
            <input type="number" class="form-control" name="outerTurningRadius" id="field_outerTurningRadius"
                    ng-model="vm.devSupportingTool.outerTurningRadius"
                    required/>
            <div ng-show="editForm.outerTurningRadius.$invalid">
                <p class="help-block"
                    ng-show="editForm.outerTurningRadius.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.outerTurningRadius.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedOuterTurningRadius">Tested Outer Turning Radius</label>
            <input type="number" class="form-control" name="testedOuterTurningRadius" id="field_testedOuterTurningRadius"
                    ng-model="vm.devSupportingTool.testedOuterTurningRadius"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_nnerTurningRadius">Inner Turning Radius</label>
            <input type="number" class="form-control" name="nnerTurningRadius" id="field_nnerTurningRadius"
                    ng-model="vm.devSupportingTool.nnerTurningRadius"
                    required/>
            <div ng-show="editForm.nnerTurningRadius.$invalid">
                <p class="help-block"
                    ng-show="editForm.nnerTurningRadius.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nnerTurningRadius.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedInnerTurningRadius">Tested Inner Turning Radius</label>
            <input type="number" class="form-control" name="testedInnerTurningRadius" id="field_testedInnerTurningRadius"
                    ng-model="vm.devSupportingTool.testedInnerTurningRadius"
                    />
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_observations1">Observations 1</label>
                <textarea class="form-control" name="observations1" id="field_observations1"
                    ng-model="vm.devSupportingTool.observations1" required></textarea>
            <div ng-show="editForm.observations1.$invalid">
                <p class="help-block"
                    ng-show="editForm.observations1.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedObservations1">Tested Observations 1</label>
                <textarea class="form-control" name="testedObservations1" id="field_testedObservations1"
                    ng-model="vm.devSupportingTool.testedObservations1" ></textarea>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_observations2">Observations 2</label>
                <textarea class="form-control" name="observations2" id="field_observations2"
                    ng-model="vm.devSupportingTool.observations2" required></textarea>
            <div ng-show="editForm.observations2.$invalid">
                <p class="help-block"
                    ng-show="editForm.observations2.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedObservations2">Tested Observations 2</label>
                <textarea class="form-control" name="testedObservations2" id="field_testedObservations2"
                    ng-model="vm.devSupportingTool.testedObservations2" ></textarea>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_observations3">Observations 3</label>
                <textarea class="form-control" name="observations3" id="field_observations3"
                    ng-model="vm.devSupportingTool.observations3" required></textarea>
            <div ng-show="editForm.observations3.$invalid">
                <p class="help-block"
                    ng-show="editForm.observations3.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedObservations3">Tested Observations 3</label>
                <textarea class="form-control" name="testedObservations3" id="field_testedObservations3"
                    ng-model="vm.devSupportingTool.testedObservations3" ></textarea>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_observations4">Observations 4</label>
                <textarea class="form-control" name="observations4" id="field_observations4"
                    ng-model="vm.devSupportingTool.observations4" required></textarea>
            <div ng-show="editForm.observations4.$invalid">
                <p class="help-block"
                    ng-show="editForm.observations4.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedObservations4">Tested Observations 4</label>
                <textarea class="form-control" name="testedObservations4" id="field_testedObservations4"
                    ng-model="vm.devSupportingTool.testedObservations4" ></textarea>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_observations5">Observations 5</label>
                <textarea class="form-control" name="observations5" id="field_observations5"
                    ng-model="vm.devSupportingTool.observations5" required></textarea>
            <div ng-show="editForm.observations5.$invalid">
                <p class="help-block"
                    ng-show="editForm.observations5.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedObservations5">Tested Observations 5</label>
                <textarea class="form-control" name="testedObservations5" id="field_testedObservations5"
                    ng-model="vm.devSupportingTool.testedObservations5" ></textarea>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_observations6">Observations 6</label>
                <textarea class="form-control" name="observations6" id="field_observations6"
                    ng-model="vm.devSupportingTool.observations6" required></textarea>
            <div ng-show="editForm.observations6.$invalid">
                <p class="help-block"
                    ng-show="editForm.observations6.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedObservations6">Tested Observations 6</label>
                <textarea class="form-control" name="testedObservations6" id="field_testedObservations6"
                    ng-model="vm.devSupportingTool.testedObservations6" ></textarea>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_operators_Comments">Operators Comments</label>
                <textarea class="form-control" name="operators_Comments" id="field_operators_Comments"
                    ng-model="vm.devSupportingTool.operators_Comments" required></textarea>
            <div ng-show="editForm.operators_Comments.$invalid">
                <p class="help-block"
                    ng-show="editForm.operators_Comments.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label class="control-label" for="field_testedOperators_Comments">Tested Operators Comments</label>
                <textarea class="form-control" name="testedOperators_Comments" id="field_testedOperators_Comments"
                    ng-model="vm.devSupportingTool.testedOperators_Comments" ></textarea>
        </div>

        <div class="form-group col-xs-6 hide-content">
            <label for="field_oemName">Oem Name</label>
            <select class="form-control" id="field_oemName" name="oemName" ng-model="vm.devSupportingTool.oemName" ng-options="company as company.name for company in vm.companies track by company.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group col-xs-6 hide-content">
            <label for="field_addedBy">Added By</label>
            <select class="form-control" id="field_addedBy" name="addedBy" ng-model="vm.devSupportingTool.addedBy" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
